.App-link {
  color: #61dafb;
}

.Opponent {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(10px);
  background-color: #ccc;
  pointer-events: none;
}

.invisible {
  display: none !important;
  pointer-events: none;
}

.visible {
  z-index: 100;
  max-width: 300rem !important;
}

.maxZIndexheader {
  z-index: 100;
}

.afterClickPointerOff {
  pointer-events: none;
}

.centeredGIFs {
  display: flex !important;
  align-items: center !important;
}
.fixFormWidth {
  max-width: 100rem !important;
}

.logoContainers {
    word-wrap: break-word;
    font-size: 0.59em;
}

.playerCardContainersOn {
    word-wrap: break-word;
    font-size: 0.59em;
}
